<!DOCTYPE html>
<html>
  <head>
    <title>PlayerManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/flash_message' %>
    <% if user_signed_in? %>
      <div class= "form-group logout">
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-danger" %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
